body {
    margin: 0px;
    background-color: #eca086;
    font-family: 'Courier New', Courier, monospace;
}

button {
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    padding: 10px 20px;
}

.page-nav {
    
    background-color: black;
    border: 1px solid black;
    position: relative;
}

.page-nav img {
    margin-left: 30px;
    height: 80px;
    
}
.page-nav h1 {
    margin: 20px;
}

.button-checkout {
    background-color: white;
    color: black;
    border: 2px solid #008CBA; /* Blue */
    transition-duration: 0.4s;
    position: absolute;
    right: 12px;
    bottom: 12px;
}

.button-checkout:hover {
    background-color: #161514; /* Blue */
    color: white;
}

.page-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



.product-container {
    margin: 15px;
    font-family: 'Courier New', Courier, monospace;
    padding: 2px 16px;
    height: 420px;
    width: 300px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    background-color: white;
}

.product-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.product-container img {
    height: 200px;
    margin-left: auto; 
    margin-right: auto;
}

.product-container h1 {
    margin-bottom: 10px;
    margin-left: 15px;
}

.button-add {
    background-color: white;
    color: black;
    border: 2px solid #eca086;
    transition-duration: 0.4s;
    position: absolute;
    top: 355px;
    left: 20px;
}

  
.button-add:hover {
    background-color: #eca086; 
    color: white;
}

.page-one{
    display: flex;     
}

.button-detalls {
    background-color: white;
    color: black;
    border: 2px solid #eca086; 
    transition-duration: 0.4s;
    position: absolute;
    top: 355px;
    right: 20px; 
}

.button-detalls:hover {
    background-color: #eca086; 
    color: white;
}

.buscar{
    position: absolute;
    top: 12px;
    right: 120px;   
    padding:  5px;
}

.buscar input{
    width: 0px;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    color: #000000;
    outline:  none;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.6s ease;
}

.btn{
position: absolute;
top: 0;
right:0;
background: #eca086;
width: 55px;
height: 55px;
line-height: 55px;
text-align: center ;
color: rgb(255, 255, 255);
font-size: 20px;
border-radius: 50%;
cursor: pointer;
}

.buscar:hover input{
    width: 240px;
}

.buscar input:focus{
    width: 240px;
}

.cate-crit {
    margin-left: 30px;
    }

.cate-crit label{
    font-family: 'Courier New', Courier, monospace;
    }

    footer {
        background-color: black;
        bottom: 0;
        width: 100%;
        color: white;
        height: 2em ;
      }

      .button-add-p {
        background-color: white;
        color: black;
        border: 2px solid black; 
        transition-duration: 0.4s;
        top: 0px;
        left: 0px;
    }
    
    .button-add-p:hover {
        background-color: black; 
        color: white;
    }
    
    .detalles-container {
    
        margin: 15px;
        padding: 2px 16px;
        height: 80%;
        width: 40%;
        position: relative;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
        background-color: white;
    }
    
    .detalles-container img {
        height: 400px;
    
    }
    
    .page-two{
        display: flex; 
        align-items: center;
        justify-content: center;
        
    }